# Retail Sales EDA Notebook

## 1. Load and Inspect Data
- Load raw/cleaned CSV
- Use `.info()`, `.describe()`, `.isnull().sum()`

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/cleaned/cleaned_sales.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536641 entries, 0 to 536640
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    536641 non-null  object
 1   StockCode    536641 non-null  object
 2   Description  536641 non-null  object
 3   Quantity     536641 non-null  int64
 4   InvoiceDate  536641 non-null  object
 5   UnitPrice    536641 non-null  float64
 6   CustomerID   536641 non-null  float64
 7   Country      536641 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.8+ MB

In [4]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  536641.000000  536641.000000  536641.000000
mean        9.620029       4.632656   11435.904653
std       219.130156      97.233118    6795.044250
min    -80995.000000  -11062.060000       0.000000
25%         1.000000       1.250000       0.000000
50%         3.000000       2.080000   14336.000000
75%        10.000000       4.130000   16241.000000
max     80995.000000   38970.000000   18287.000000

## 2. Data Cleaning Checks
- Datatype conversions
- Missing values
- Unique value counts

In [5]:
def try_convert_to_int(series):
    try:
        return series.astype(int)
    except:
        return series

In [6]:
df['InvoiceNo'] = try_convert_to_int(df['InvoiceNo'])
df['StockCode'] = try_convert_to_int(df['StockCode'])

In [7]:
df['InvoiceNo'].str.isnumeric().all()

np.False_

In [8]:
df['StockCode'].str.isnumeric().all()

np.False_

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536641 entries, 0 to 536640
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    536641 non-null  object
 1   StockCode    536641 non-null  object
 2   Description  536641 non-null  object
 3   Quantity     536641 non-null  int64
 4   InvoiceDate  536641 non-null  object
 5   UnitPrice    536641 non-null  float64
 6   CustomerID   536641 non-null  float64
 7   Country      536641 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 32.8+ MB

### All the values in InvoiceNo and StockCode column can't be convert to int as it contains alphanumeric values.

In [10]:
# Covert InvoiceDate to date time dtype.
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], dayfirst= True)
print(df['InvoiceDate'].dtype)

datetime64[ns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536641 entries, 0 to 536640
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    536641 non-null  object
 1   StockCode    536641 non-null  object
 2   Description  536641 non-null  object
 3   Quantity     536641 non-null  int64
 4   InvoiceDate  536641 non-null  datetime64[ns]
 5   UnitPrice    536641 non-null  float64
 6   CustomerID   536641 non-null  float64
 7   Country      536641 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.8+ MB

In [12]:
#Chck Missing Values
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [13]:
(df == 0).sum() #column wise 0 or 0.0 values

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice        2510
CustomerID     135037
Country             0
dtype: int64

In [14]:
(df == 0).sum().sum() # Total 0 or 0.0 values in df

np.int64(137547)

In [17]:
df = df[df['UnitPrice'] != 0] # Remove rows where UnitPrice is 0 
#This filter creates a boolean mask that is True for all rows where UnitPrice is not 0.

In [ ]:
(df == 0).sum() 
# This was important to remove the rows where UnitPrice is 0 for further analysis.
#

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     132567
Country             0
dtype: int64

In [25]:
print("Negative UnitPrice:", (df['UnitPrice'] < 0).sum()) 
#Two values are negative, which is not possible for sales price column.

Negative UnitPrice: 2

In [26]:
#let's remove the rows where UnitPrice is negative.
df = df[(df['UnitPrice'] >= 0) & (df['TotalPrice'] >= 0)]

In [27]:
print("Negative UnitPrice:", (df['UnitPrice'] < 0).sum())

Negative UnitPrice: 0

# Ready for Feature Engineering

In [28]:
# Make more columns for further analysis!
df['InvoiceYear'] = df['InvoiceDate'].dt.year
df['InvoiceMonth'] = df['InvoiceDate'].dt.month
df['InvoiceDay'] = df['InvoiceDate'].dt.day
df['InvoiceHour'] = df['InvoiceDate'].dt.hour
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

In [29]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'InvoiceYear', 'InvoiceMonth',
       'InvoiceDay', 'InvoiceHour', 'TotalPrice'],
      dtype='object')

In [34]:
print("Negative UnitPrice:", (df['UnitPrice'] < 0).sum())

Negative UnitPrice: 0

In [33]:
print("Negative TotalPrice:", (df['TotalPrice'] < 0).sum()) #check for negative total price

Negative TotalPrice: 0

In [35]:
df.to_csv("Data/cleaned/cleaned_sales.csv", index=False)